<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://192.168.7.154:8443/ThundersoftMDMWeb/resources/apkStore/100001/iOS/com.cetc.holdsoft.schedulemanage_7151.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://192.168.7.154:8443/ThundersoftMDMWeb/resources/apkStore/100001/iOS/com.cetc.holdsoft.schedulemanage_7151/iTunesArtwork</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cetc.holdsoft.schedulemanage</string>
				<key>bundle-version</key>
				<string>7.1.5.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>日程管理</string>
				<key>title</key>
				<string>日程管理</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
